input.custom-cursor {
  caret-color: transparent;
}

/* Add a pseudo-element for the custom blinking cursor */
input.custom-cursor::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: black;
  animation: blink 1s step-end infinite;
  position: absolute;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Position the custom cursor */
input.custom-cursor {
  position: relative;
}

span.token.operator {
  background-color: transparent !important;
}

.p-sidebar-header {
  display: none;
}

.p-sidebar.p-component.p-ripple-disabled.p-sidebar-enter-done {
  border-radius: 14px 14px 0 0;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.graph_container {
  border: 1px solid slategray;
  border-radius: 10px;
  padding: 1.25rem;
}
